{% extends 'base.html' %}
{% load wagtailimages_tags %}


{% block content %}
    <div class="mx-auto" style="width: 200px;">
        <h2>{{ object_list.title }}</h2>
    </div>
{% endblock %}

{% block table %}
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Zespół</th>
        <th scope="col">PKT</th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams  %}
            <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{% image team.image fill-32x32 %} {{ team }} </td>
            <td>Impl points</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
